.add-form {
	display: flex;
	flex-direction: column;
}

.upload-image {

}

.upload-input {
	display: none;
}

.add-form .image {
	height: 300px;
	width: 300px;
	background: url('../images/profile-pictures/avatar.jpg');
	background-repeat: no-repeat;
}
