.add-form, .edit-profile-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 5vh 0;
	height: 120vh;
}

.add-form .upload-image, .edit-profile-form .upload-image {
	width: 90vw;
	border: 2px solid var(--border-color);
}

.add-form .upload-input, .edit-profile-form .upload-input {
	display: none;
	width: 90vw;
}

.add-form .caption-input, .edit-profile-form .bio-input {
	border: 2px solid var(--border-color);
	width: 90vw;
	resize: none;
}

.add-form button, .edit-profile-form button {
	width: 90vw;
}

.add-form .image {
	width: 300px;
	height: 300px;
	background: url('../images/profile-pictures/avatar.jpg');
	background-repeat: no-repeat;
}

.edit-profile-form {
	height: 160vh;
}

.edit-profile-form .upload-image {
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
}

.edit-profile-form .upload-image {
	border-radius: 100%;
}

.edit-profile-form .email, .edit-profile-form .password {
	text-align: center;
	width: 90vw;
}
