header {
	width: 100vw;
	height: 10vh;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background-color);
}

header h1 {
	font-size: 34px;
}

header a:first-child {
	padding-top: 10px;
}
