:root {
	--color: #8b8b8b;
	--background-color: #acacac;
	--border-color: #c9c9c9;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-variant-caps: all-small-caps;
	color: var(--color);
}

body {
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	margin-top: 10vh;
	margin-bottom: 20vh;
}

.content {
	margin-top: 15vh;
}

.message-box {
	margin: 0;
	height: 10vh;
	text-align: center;
	background: var(--background-color);
}

.logout {
	position: absolute;
	margin: 200px auto;
}

