
@media screen and (min-width: 780px) {	
	
	/* Feed */
	.post {
		width: 60vw;
	}

	.image-container, {
		width: 60vw;
		align-self: center;
	}
	.image-container img {
		width: 60vw;
	}

	.user-container {
		width: 60vw;
	}

	/* Profile */
	.profile-container .bio {
		width: 40vw;
	}

	.profile-container .user-counts {
		width: 60vw;
	}
}


@media screen and (min-width: 1400px) {	
	
	/* Feed */
	.post {
		width: 40vw;
	}
	
	.image-container, {
		width: 40vw;
		align-self: center;
	}
	.image-container img {
		width: 40vw;
	}
	.user-container {
		width: 40vw;
	}

	/* Profile */
	.profile-container .bio {
		width: 20vw;
	}

	.profile-container .user-counts {
		width: 40vw;
	}
}


