
@media screen and (min-width: 780px) {	
	
	/* Feed */
	.post {
		width: 60vw;
	}

	.image-container, {
		width: 60vw;
		align-self: center;
	}
	.image-container img {
		width: 60vw;
	}

	.user-container {
		width: 60vw;
	}

	/* Profile */
	
	.profile-container .user-button a {
		font-size: 18px;
	}
	
	.profile-container h3 {
		font-size: 24px;
	}
	
	.profile-container .bio {
		width: 40vw;
		font-size: 18px;
	}

	.profile-container .user-counts {
		width: 60vw;
		height: 80px;
	}

	.profile-container .user-counts div {
		height: 80px;
	}

	/* Forms */ 
	form input, form button, form textarea {
		width: 60vw;
	}

	.upload-form {
		min-height: 140vh;
	}

	.edit-post-form {
		min-height: 200vh;
	}

	.upload-form .upload-image, .upload-form .caption-input, .upload-form button, .edit-profile-form .bio-input, .edit-profile-form button, .edit-post-form .post-image, .edit-post-form .caption-input, .edit-post-form button {
		width: 60vw;
	}

	.upload-form label, .edit-post-form label {
		font-size: 30px;
	}

	.edit-profile-form label {
		font-size: 24px;
	}
}


@media screen and (min-width: 1400px) {	
	
	/* Feed */
	.post {
		width: 40vw;
	}
	
	.image-container, {
		width: 40vw;
		align-self: center;
	}
	.image-container img {
		width: 40vw;
	}
	.user-container {
		width: 40vw;
	}

	/* Profile */
	.profile-container .bio {
		width: 20vw;
	}

	.profile-container .user-counts {
		width: 40vw;
	}

	/* Forms */ 
	form input, form button {
		width: 40vw;
	}

	.upload-form {
		min-height: 160vh;
	}

	.upload-form .upload-image, .upload-form .caption-input, .upload-form button, .edit-profile-form .bio-input, .edit-profile-form button, .edit-post-form .post-image, .edit-post-form .caption-input, .edit-post-form button {
		width: 40vw;
	}

}


