.profile-container {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}

.profile-container img {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 2px solid var(--border-color);
}

.profile-container .user-button a {
	padding: 10px;
	border: 3px solid var(--border-color);
}

.profile-container .user-button a:hover {
	color: #F4F4F4;
	background-color: var(--background-color);
}

.profile-container .bio {
	width: 80vw;
}

.profile-container .user-counts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	width: 80vw;
	margin: 20px 0;
	text-align: center;
	border: 2px solid var(--border-color);
}

.profile-container .user-counts div {
	width: 33%;
	height: 60px;
}

.profile-container .user-counts .followers {
	border: 2px solid var(--border-color);	
}

.profile-container .user-counts div a {
	text-decoration: none;
	color: black;
	height: 60px;
	display: block;
	padding: 5px;
}

.user-container {
	width: 90vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.edit-container a {
	height: 20px;
	padding: 10px;
	border: 2px solid var(--border-color);
}

.edit-container a:hover {
	color: #F4F4F4;
	background-color: var(--background-color);
}

